pl.lodz.p.ftims.edu.pai.web/Service References/TimesheetService/Management.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Project">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
  <xs:complexType name="ArrayOfProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project" nillable="true" type="tns:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject" nillable="true" type="tns:ArrayOfProject" />
  <xs:complexType name="ArrayOfTimesheet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Timesheet" nillable="true" type="tns:Timesheet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimesheet" nillable="true" type="tns:ArrayOfTimesheet" />
  <xs:complexType name="Timesheet">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDay" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Entries" nillable="true" type="tns:ArrayOfEntry" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="StartDay" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Timesheet" nillable="true" type="tns:Timesheet" />
  <xs:complexType name="ArrayOfEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="tns:Entry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntry" nillable="true" type="tns:ArrayOfEntry" />
  <xs:complexType name="Entry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hours" type="xs:int" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entry" nillable="true" type="tns:Entry" />
  <xs:complexType name="CreateProject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManagerId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateProject" nillable="true" type="tns:CreateProject" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="Task">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Task" nillable="true" type="tns:Task" />
  <xs:complexType name="ArrayOfTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Task" nillable="true" type="tns:Task" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTask" nillable="true" type="tns:ArrayOfTask" />
  <xs:complexType name="CreateTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateTask" nillable="true" type="tns:CreateTask" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="CreateEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManagerId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateEmployee" nillable="true" type="tns:CreateEmployee" />
  <xs:complexType name="ArrayOfAudit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Audit" nillable="true" type="tns:Audit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAudit" nillable="true" type="tns:ArrayOfAudit" />
  <xs:complexType name="Audit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Change" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NewStatus" type="xs:int" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="tns:Employee" />
      <xs:element minOccurs="0" name="PreviousStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Audit" nillable="true" type="tns:Audit" />
  <xs:complexType name="CreateTimesheet">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDay" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Entries" nillable="true" type="tns:ArrayOfCreateEntry" />
      <xs:element minOccurs="0" name="StartDay" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateTimesheet" nillable="true" type="tns:CreateTimesheet" />
  <xs:complexType name="ArrayOfCreateEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreateEntry" nillable="true" type="tns:CreateEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreateEntry" nillable="true" type="tns:ArrayOfCreateEntry" />
  <xs:complexType name="CreateEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hours" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateEntry" nillable="true" type="tns:CreateEntry" />
  <xs:complexType name="Branch">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uri" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Branch" nillable="true" type="tns:Branch" />
  <xs:complexType name="ArrayOfBranch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Branch" nillable="true" type="tns:Branch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBranch" nillable="true" type="tns:ArrayOfBranch" />
  <xs:complexType name="CreateBranch">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uri" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateBranch" nillable="true" type="tns:CreateBranch" />
</xs:schema>