pl.lodz.p.ftims.edu.pai.admin/Service References/AdminService/Management1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51548/Management.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" />
  <xs:element name="GetProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="GetProjectResult" nillable="true" type="q1:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="GetProjectsResult" nillable="true" type="q2:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagedProjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagedProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="GetManagedProjectsResult" nillable="true" type="q3:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTimesheetsForPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="end" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTimesheetsForPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="GetProjectTimesheetsForPeriodResult" nillable="true" type="q4:ArrayOfTimesheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryForProjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryForProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="QueryForProjectsResult" nillable="true" type="q5:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="createProject" nillable="true" type="q6:CreateProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="CreateProjectResult" nillable="true" type="q7:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="project" nillable="true" type="q8:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="UpdateProjectResult" nillable="true" type="q9:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProjectManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProjectManagerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="GetProjectManagerResult" nillable="true" type="q10:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="GetTaskResult" nillable="true" type="q11:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="GetTasksResult" nillable="true" type="q12:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryForTaks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryForTaksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="QueryForTaksResult" nillable="true" type="q13:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="createTask" nillable="true" type="q14:CreateTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="CreateTaskResult" nillable="true" type="q15:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="project" nillable="true" type="q16:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="UpdateTaskResult" nillable="true" type="q17:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="GetEmployeeResult" nillable="true" type="q18:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="GetEmployeesResult" nillable="true" type="q19:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeSubordinates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeSubordinatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="GetEmployeeSubordinatesResult" nillable="true" type="q20:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeTimesheetsForPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="end" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeTimesheetsForPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="GetEmployeeTimesheetsForPeriodResult" nillable="true" type="q21:ArrayOfTimesheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="createEmployee" nillable="true" type="q22:CreateEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="CreateEmployeeResult" nillable="true" type="q23:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="project" nillable="true" type="q24:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="UpdateEmployeeResult" nillable="true" type="q25:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubordinate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subordinateId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubordinateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="AddSubordinateResult" nillable="true" type="q26:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubordinate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subordinateId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubordinateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="DeleteSubordinateResult" nillable="true" type="q27:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimesheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimesheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="GetTimesheetResult" nillable="true" type="q28:Timesheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimesheets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimesheetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="GetTimesheetsResult" nillable="true" type="q29:ArrayOfTimesheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimesheetsNeedAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimesheetsNeedActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="GetTimesheetsNeedActionResult" nillable="true" type="q30:ArrayOfTimesheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimesheetHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimesheetHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="GetTimesheetHistoryResult" nillable="true" type="q31:ArrayOfAudit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="GetBranchResult" nillable="true" type="q32:Branch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="GetBranchessResult" nillable="true" type="q33:ArrayOfBranch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="createBranch" nillable="true" type="q34:CreateBranch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="CreateBranchResult" nillable="true" type="q35:Branch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBranchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="project" nillable="true" type="q36:Branch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/pl.lodz.p.ftims.edu.pai.central.dto" minOccurs="0" name="UpdateBranchResult" nillable="true" type="q37:Branch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>